@{
    ViewData["Title"] = "Privacy Policy";
}
<div class=" col col-xs-7 col-sm-7 col-md-7 col-lg-7">
    <h1>@ViewData["Title"]</h1>
    <div>
        <p>Use this page to detail your site's privacy policy.</p>
    </div>
</div>

